In [9]:
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
print(f"my list is {array}")

my list is [104, 1043, 102, 102, 106, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False]

In [16]:
# use to add value in list
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
array.append("sunny janjua")
print(f"my list is {array}")

my list is [104, 1043, 102, 102, 106, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False, 'sunny janjua']

In [20]:
# use for find index of value in list
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
print(array.index(102))
print(f"my list is {array}")

2
my list is [104, 1043, 102, 102, 106, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False]

In [21]:
# use to remove value in list through index
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
print(array.pop(4))
print(f"my list is {array}")

106
my list is [104, 1043, 102, 102, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False]

In [22]:
# use to add value in  list through using index number
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False] 
array.insert(4,"hello world")
print(f"my list is {array}")

my list is [104, 1043, 102, 102, 'hello world', 106, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False]

In [23]:
# use to find tha duplicate value in list
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
print(array.count(102))

2

In [26]:
# use to add a new list at the end of old list
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
array.extend([1,2,3,4,5,6,7,8,9])
print(f"my list is {array}")

my list is [104, 1043, 102, 102, 106, 1098, 'hussnian', 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# use to remove value in list through name of value
array:list = [104, 1043, 102,102, 106, 1098 ,"hussnian","awais","danish","ali","usman",3434.3223,True,False]
array.remove("hussnian")
print(f"my list is {array}")

my list is [104, 1043, 102, 102, 106, 1098, 'awais', 'danish', 'ali', 'usman', 3434.3223, True, False]

In [33]:
# use to sort a vlues in list
array:list = [4,9,7,1,6,2,0]
array.sort()
print(f"my list is {array}")

my list is [0, 1, 2, 4, 6, 7, 9]